@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
//@include sprites($spritesheet-sprites);

html {
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  &._lock {
		overflow: hidden;
	}
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

a {
  transition: all linear 0.15s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content;
  padding: 0 15px;
  width: 100%;
  @media screen and (min-width: $desktop) {
    padding: 0 50px;
  }
}

.index-page {
  padding-top: 100px;
  .container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  .index-icon {
    margin-right: 10px;
  }
  .button__enter {
    color: $black;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }
}

//Модули
@import "modules/modules";
