section.object.pt-25.pb-md-50
	h1.visually-hidden Личный кабинет на сайте Мосплитка
	.custom-container
		.object__wrapper
			.object__stage.object-stage
				.object__header.object-header
					.object-header__progress.progress
						.progress-bar(role="progressbar" style="width: 66.6%" aria-valuenow="66.6" aria-valuemin="0" aria-valuemax="100")
					.object-header__description.d-none.d-xl-block
						p.object-header__stage #[strong Этап 4.] Подготовка и согласование договора. Оплата аванса
					span.object-header__status.d-none.d-xl-block статус объекта
				.object-stage__body.px-xl-100
					.col-12.col-xl-7.mx-xl-auto
						h2.object-stage__title Мы готовим для вас договор
						p.object-stage__text Обычно это занимает от одного до трех дней. Как только договор будет готов, мы оповестим вас об этом.
