.object__stage.object-stage
	include header-estimate
	.object-stage__body.px-xl-100
		.col-12.col-xl-9.mx-xl-auto
			h2.object-stage__title Коммерческое предложение согласовано
			p.object-stage__text.col-xl-8.mb-xl-24 Для заполнения договора загрузите, пожалуйста, сканы первой страницы паспорта и прописки
			.dropzone.object-stage__dropzone.file-upload._js-estimate-offer.mb-30
				.dz-message.file-upload__message
					button.file-upload__button.col-xl-10
						+icon('icon-upload', 'file-upload__icon file-upload__icon--dowload flex-shrink-0', '24', '24')
						span.text-start.d-xl-none Нажмите для загрузки
						span.text-start.d-none.d-xl-block Нажмите для загрузки или перетащите изображение в эту область.
			.col-12
				.object-stage__border
			.col-12
				.row
					.col-12.col-md-6.mx-auto
						a(href="#estimate-offer").button._popup-link Отправить






