header.header-main
	.header-user
		.container-xl.px-15.px-xl-25
			.header-user__content
				//- include sandwich/sandwich-nav
				.header-user__inner
					a.header-user__exit(href="#")
						+icon('icon-enter', 'header-user__icon', '16', '20')
						span Выйти
	.header-placeholder
