.object__stage.object-stage
	include supplementary-agreement-header
	.object-stage__body.px-xl-100
		.col-12.col-xl-7.mx-xl-auto
			h2.object-stage__title Электронное подписание дополнительного соглашения
		.col-12
			.object-stage__border
		.row.gy-16.gx-0.mb-30.object-stage__contract
			p 1.1. НИУ «МЭИ» поручает заключить Договор с Заказчиком на руководство и выполнение научно-технической (научно-исследовательской, опытно-конструкторской, технологической или другой) работы, а научный руководитель работы обязуется выполнить в объеме и в сроки, указанные в техническом задании и календарном плане данной работы.
			p 1.2. Настоящий Договор и Договор на выполнение научно-технической работы считаются выполненными после подписания и утверждения Акта сдачи-приемки работы Заказчиком и передачи руководителем работы необходимой отчетной документации в НИЧ НИУ «МЭИ».
			p 2. Права и обязанности сторон
			p 2.1. НИУ «МЭИ» принимает на себя обслуживание выполняемой по Договору с Заказчиком работы в части финансового и бухгалтерского сопровождения, оперативного учета, представления информационных, метрологических, патентных, юридических и коммерческих услуг, а также обеспечение координации работы научного руководителя в структуре института и с внешними организациями в соответствии с Положением об организации выполнения НИОКТР в НИУ «МЭИ», далее «Положением».
			p 2.2. Взаимные обязанности и права кафедры (структурного подразделения) и научного руководителя: (выделение помещений, выделение и использование оборудования, соблюдение внутреннего распорядка и режима работы и др.).
			p 2.3. Для выполнения работ по договору заведующий кафедрой(руководитель подразделения) и научный руководитель определяют состав научной группы, несут персональную ответственность за выполнение показателей средней заработной платы НПР, отраженной в Указе Президента Российской Федерации от 07 мая 2012 г. № 597 «О мероприятиях по реализации государственной социальной политики» и Распоряжении Правительства РФ от 30 декабря 2012 г. № 2620-р Об утверждении плана мероприятий («дорожной карты») «Изменения в отраслях социальной сферы, направленные на повышение эффективности образования и науки».
			p 2.4. Научный руководитель работы обеспечивает:
			p — своевременную подготовку и подписание у Заказчика технического задания, календарного плана, финансовых и других сопровождающих и отчетных документов по научно-технической работе;
			p — выполнение работы в соответствии с ТЗ и календарным планом;
			p — соблюдение законодательства, устава НИУ «МЭИ», правил внутреннего распорядка, Положения об организации выполнения НИОКТР в НИУ «МЭИ», условий Договора на выполнение научно-технической работы и настоящего Договора, Положения о закупках НИУ «МЭИ»;
			p — своевременные финансовые отчисления в централизованный фонд НИУ «МЭИ»  в соответствии с «Положением»;
			p — своевременное уведомление правового управления для подготовки
		.col-12.col-xl-9.mx-xl-auto
			.object-stage__border
		.col-12.col-xl-9.mx-xl-auto
			.row
				.col-12.col-md-6.mb-16.mb-md-0.order-md-2
					a.button Подписать
				.col-12.col-md-6
					a(href="#supplementary-edits").button.button--transparent._popup-link Требуются пояснения
