include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		//- script(src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript")
	body
		.wrapper
			include ../modules/header/header
			.content
				block content
		include ../modules/popups/map
		include ../modules/popups/measurement-assigned
		include ../modules/popups/object-estimate-study-edits
		include ../modules/popups/object-estimate-offer
		include ../modules/popups/object-contract-edits
		include ../modules/popups/object-contract-accept
		include ../modules/popups/object-contract-complete
		include ../modules/popups/object-coordination-works
		include ../modules/popups/object-coordination-works-complete
		include ../modules/popups/object-coordination-works-thanks
		include ../modules/popups/object-supplementary-agreement-edit
		block script
			script(src="static/js/libs.js" defer)
			script(src="static/js/main.js" defer)
