.object-stage {
  color: $text-black-color;
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 16px 0;
  }
  &__text {
    border-bottom: 1px solid $bg-grey-color;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 24px 0;
    padding-bottom: 23px;
  }
  &__label {
    color: $text-grey-color;
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 12px 0;
  }
  &__legend {
    font-size: 18px;
    margin: 0 0 24px 0;
  }
  &__input-box {
    position: relative;
  }
  &__input {
    align-items: center;
    background-color: rgba(232, 236, 244, 0.2);
    border: 1px solid $border-grey-color;
    border-radius: 6px;
    display: flex;
    font-size: 15px;
    line-height: 16px;
    padding: 13px;
    width: 100%;
    &::placeholder {
      color: $icon-grey-color;
    }
    &:focus {
      border-color: $text-orange-color;
    }
  }
  &__input-link {
    color: $text-orange-color;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
  }
}
