section.object.pt-25.pb-md-50
	h1.visually-hidden Личный кабинет на сайте Мосплитка
	.custom-container
		.object__wrapper
			.object__stage.object-stage
				.object-stage__body.pt-md-40.px-xl-100
					.col-12.col-xl-7.mx-xl-auto
						h2.object-stage__title Ура!
						p.object-stage__text Все работы завершены!
						p.object-stage__text.mb-0 Будем ждать вас снова!
