extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		.container-xl.px-15.px-xl-25
			a.button__enter._popup-link(href="#login-form")
				+icon('icon-enter', 'index-icon', '16', '20')
				span Войти
