extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		.container-xl.px-15.px-xl-25
			a.button__enter._popup-link(href="#login-form")
				+icon('icon-enter', 'index-icon', '16', '20')
				span Войти
			ul.mt-100
				li
					a(href="data.html") Данные объекта
				li
					a(href="history.html") История объекта
				li
					a(href="history-act.html") Акт о завершении работ
				li
					a(href="personal.html") Персональные данные
				li
					a(href="user.html") Заполнение данных
				li
					a(href="stage-1.html") Stage-1
				li
					a(href="stage-2.html") Stage-2
				li
					a(href="stage-2-1.html") Stage-2-1
				li
					a(href="stage-2-2.html") Stage-2-2
				li
					a(href="stage-3.html") Stage-3
				li
					a(href="stage-3-1.html") Stage-3-1
				li
					a(href="stage-3-2.html") Stage-3-2
				li
					a(href="stage-3-3.html") Stage-3-3
				li
					a(href="stage-4.html") Stage-4
				li
					a(href="stage-5.html") Stage-5
				li
					a(href="stage-6-1-1.html") Stage-6-1-1
				li
					a(href="stage-6-1-2.html") Stage-6-1-2
				li
					a(href="stage-6-1-3.html") Stage-6-1-3
				li
					a(href="stage-6-1-4.html") Stage-6-1-4
				li
					a(href="stage-6-1-5.html") Stage-6-1-5
				li
					a(href="stage-6-2.html") Stage-6-2
				li
					a(href="stage-6-3.html") Stage-6-3
				li
					a(href="stage-7.html") Stage-7
