extends layout/user-cabinet

block variables
	-var title = 'Личный кабинет'
	-var pageClass = 'user-object'

block content
	main(class=pageClass)
		.container-xl.px-15.px-xl-25
			.user__content
				include modules/header/sandwich/sandwich-nav
				include modules/navigation/main-nav
				include pages/stage-3/stage-3-2
