extends layout/user-cabinet

block variables
	-var title = 'Личный кабинет'
	-var pageClass = 'cabinet'

block content
	main(class=pageClass)
		.container-xl.px-15.px-xl-25
			.cabinet__content
				include modules/header-cabinet/sandwich/sandwich-nav
				include modules/navigation/main-nav
				include modules/main/main-content
