// Colors
$white: #fff;
$black: #000;
$bg-grey-color: #e8ecf4;
$border-grey-color: #dddfe0;
$icon-grey-color: #d5d7dd;
$text-black-color: #303236;
$text-grey-color: #94979e;
$text-light-grey-color: #d5d7dd;
$text-orange-color: #ee7656;

// Sizes
$base-font-size: 16px;

$mobil-size: 480px;
$tablet-size: 768px;
$large-size: 1000px;
$desktop-size: 1280px;

$content: 1182px;

// Fonts
$main-font: 'Montserrat', Arial, sans-serif;
