.object__stage.object-stage.swiper-slide
	.object-stage__body.pt-md-40.px-xl-100
		.col-12.col-xl-7.mx-xl-auto
			h2.object-stage__title Ура!
			p.object-stage__text Все работы завершены!
			p.object-stage__text.mb-0 Будем ждать вас снова!
