.coordination__images.swiper-container
	ul.coordination__list.photos-works__list.swiper-wrapper.lightgallery
		li.coordination__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
			img.coordination__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
		li.coordination__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
			img.coordination__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
		li.coordination__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
			img.coordination__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
		li.coordination__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
			img.coordination__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
		li.coordination__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
			img.coordination__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
		li.coordination__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
			img.coordination__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
		li.coordination__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
			img.coordination__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
	.photos-works__item--more._js-see-more-photos.coordination__item--more
		span.coordination__more-count.photos-works__more-count +8
	.coordination-pagination.photos-works__pagination
