.button {
  align-items: center;
  background-color: $text-orange-color;
  border: none;
  border-radius: 6px;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  justify-content: center;
  padding: 16px;
  transition: all ease-out 0.2s;
  text-decoration: none;
  width: 100%;
  @media screen and (min-width: $desktop-size) {
    &:hover {
      opacity: 0.7;
    }
  }
  &--transparent {
    background-color: $white;
    border: 1px solid $text-orange-color;
    color: $text-orange-color;
    font-weight: 400;
  }
  &--disabled {
    background-color: $button-disabled-color;
    color: $text-grey-color;
    font-weight: 400;
  }
  &--text {
    background-color: transparent;
    border: none;
    color: $text-orange-color;
    font-weight: 400;
  }
}
