.object__stage.object-stage.swiper-slide
	include header-size-accept
	.object-stage__body
		h2.object-stage__title Назначен замер
		p.object-stage__text.object-stage__text--big Дата замера
		p.object-stage__text 17 Января 2021, 13:00-16:00
		.col-12
			.object-stage__border
		p.object-stage__text.col-xl-7.mb-0 Для изменения даты и времени замеров обратитесь к менеджеру в #[a(href="#") чате] в левом углу.
