.object__stage.object-stage.swiper-slide
	include header-size-accept
	.object-stage__body
		h2.object-stage__title Замер произведен
		p.object-stage__text.mb-20 Мы готовим вам коммерческое предложение. Обычно это занимает от одного до трех дней.
		p.object-stage__text Как только договор будет готов, мы оповестим вас об этом.
