section.object.pt-25.pb-md-50
	h1.visually-hidden Личный кабинет на сайте Мосплитка
	.custom-container
		.object__wrapper
			.object__stage.object-stage
				.object__header.object-header
					.object-header__progress.progress
						.progress-bar(role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100")
					.object-header__description.d-none.d-xl-block
						p.object-header__stage #[strong Этап 2.] Назначен замер
					span.object-header__status.d-none.d-xl-block статус объекта
				.object-stage__body
					h2.object-stage__title Назначен замер
					p.object-stage__text.object-stage__text--big Дата замера
					p.object-stage__text 17 Января 2021, 13:00-16:00
					.col-12
						.object-stage__border
					p.object-stage__text.col-xl-7.mb-0 Для изменения даты и времени замеров обратитесь к менеджеру в #[a(href="#") чате] в левом углу.
