section.object.pt-25.pb-md-50
	h1.visually-hidden Личный кабинет на сайте Мосплитка
	.custom-container
		.object__wrapper
			.object__stage.object-stage
				.object__header.object-header
					.object-header__progress.progress
						.progress-bar(role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100")
					.object-header__description.d-none.d-xl-block
						p.object-header__stage #[strong Этап 2.] Назначен замер
					span.object-header__status.d-none.d-xl-block статус объекта
				.object-stage__body
					h2.object-stage__title Замер произведен
					p.object-stage__text.mb-20 Мы готовим вам коммерческое предложение. Обычно это занимает от одного до трех дней.
					p.object-stage__text Как только договор будет готов, мы оповестим вас об этом.
