mixin object-progress-work(stage, className, text, timeEnd, act, second)
	li.stage-progress-work__item.object-history-progress__item.col-12(class=className)
		.col-12.col-md-4.pe-md-30
			.row
				.col-12.mb-2
					p.object-stage__text.object-stage__text--big.text-md-end.mb-0 #[strong #{stage}]
				.col-12.mb-24
					p.object-stage__text.object-stage__text--medium.m-0.mb-2.text-md-end #{text}
					a(href="history-act.html").object-history-progress__link.m-0.text-md-end.d-block #{timeEnd}
		if (act)
			.col-12.col-md-8.ps-md-30
				.col-12.mb-24.d-md-none
					.object-stage__border.mb-0
				include object-history-images
		if (second)
			.col-12.col-md-8.ps-md-30
				.col-12.mb-24.d-md-none
					.object-stage__border.mb-0
				include object-history-images-2

section.object.object-data.pt-25.pb-50
	h1.visually-hidden Данные по объекту
	.object__stage
		.object-stage__body.px-md-20.px-xl-50
			.col-12.col-xl-12.mx-xl-auto
				.object-data__head.col-md-11.mx-md-auto
					h2.object-stage__title История проекта
					a.object-data__back(href="#" aria-label="Вернуться назад")
						+icon('icon-arrow-left', 'object-data__icon', '16', '14')
					.col-12
						.object-stage__border
				.object-stage__progress-work.stage-progress-work.object-history-progress
					ul.stage-progress-work__list.object-history-progress__list.row.gy-0.gx-0
						+object-progress-work('01 янв 2021', '_complete', 'Анкета заполнена и отправлена на проверку', '', false)
						+object-progress-work('06 янв 2021', '_complete', 'Акт о завершении работ отправлен на провреку', 'Посмотреть акт', true)
						+object-progress-work('21 янв 2021', '_complete', 'Акт о завершении работ отправлен на уточнение', 'Посмотреть акт', false)
						+object-progress-work('22 янв 2021', '_complete', 'Акт о завершении работ отправлен на провреку', 'Посмотреть акт', false, true)
