.object-history-photos.photos-works
	.object-history-photos__images.swiper-container
		ul.object-history-photos__list.photos-works__list.swiper-wrapper.lightgallery
			li.object-history-photos__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
				img.object-history-photos__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
			li.object-history-photos__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
				img.object-history-photos__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
			li.object-history-photos__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
				img.object-history-photos__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
			li.object-history-photos__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
				img.object-history-photos__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
			li.object-history-photos__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
				img.object-history-photos__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
			li.object-history-photos__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
				img.object-history-photos__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
			li.object-history-photos__item.photos-works__item.swiper-slide(data-src="/static/images/content/coordination-1-sm@x2.jpg")
				img.object-history-photos__img.photos-works__img(src="static/images/content/coordination-1-mobile@x1.jpg" srcset="static/images/content/coordination-1-mobile@x1.jpg 2x" width="290" height="290" alt="Фото ремонта №1")
		.photos-works__item--more._js-see-more-photos.object-history-photos__item--more
			span.object-history-photos__more-count.photos-works__more-count +8
		.object-history-photos-pagination.photos-works__pagination
	button.object-history-photos__see-more.photos-works__see-more._js-see-more-photos Смотреть все изображения
