.object__stage.object-stage.swiper-slide
	include header-contract-prepared
	.object-stage__body.px-xl-100
		.col-12.col-xl-7.mx-xl-auto
			h2.object-stage__title Мы готовим для вас договор
			p.object-stage__text Обычно это занимает от одного до трех дней. Как только договор будет готов, мы оповестим вас об этом.
