section.object.pt-25.pb-md-50
	h1.visually-hidden Личный кабинет на сайте Мосплитка
	.custom-container.swiper-container._js-object-slider
		.object__wrapper.swiper-wrapper
			//- include object-data/object-data
			//- include object-size/object-size
			//- include object-size/size-accept
			//- include object-size/size-complete
			//- include object-estimate/object-estimate
			//- include object-estimate/object-estimate-study-edits
			//- include object-estimate/object-estimate-study-complete
			//- include object-estimate/object-estimate-offer
			//- include object-contract/object-contract-prepared
			include object-contract/object-contract
