section.object.pt-25.pb-md-50
	h1.visually-hidden Личный кабинет на сайте Мосплитка
	.custom-container.swiper-container._js-object-slider
		.object__wrapper.swiper-wrapper
			include object-data/object-data
			include object-size/object-size
			include object-size/size-accept
			include object-size/size-complete
			include object-estimate/object-estimate
			include object-estimate/object-estimate-study-edits
			include object-estimate/object-estimate-study-complete
			include object-estimate/object-estimate-offer
			include object-contract/object-contract-prepared
			include object-contract/object-contract
			include object-execution-works/object-progress-work/object-progress-work
			include object-execution-works/object-progress-work/object-progress-work-stage-1
			include object-execution-works/object-progress-work/object-progress-work-stage-2
			include object-execution-works/object-progress-work/object-progress-work-stage-3
			include object-execution-works/object-progress-work/object-progress-work-stage-4
			include object-execution-works/object-coordination-works/object-coordination
			include object-execution-works/supplementary-agreement/supplementary-agreement
			include object-complete/object-complete
