section.object.object-data.pt-25.pb-md-50
	h1.visually-hidden Данные по объекту
	.object__stage
		.object-stage__body
			.object-data__head
				h2.object-stage__title Данные объекта
				a.object-data__back(href="#" aria-label="Вернуться назад")
					+icon('icon-arrow-left', 'object-data__icon', '16', '14')
			.col-12
				.object-stage__border
			.row
				.col-12.mb-24
					label.object-stage__label.object-data__label Адрес объекта
					span.object-data__text.object-data__text--big.mb-10 Каширское шоссе, 19к1
					span.object-data__text.mb-10 1 этаж, 1 подъезд, 123#1234
					a.object-data__link(href="#") Изменить
				.col-12.mb-24
					label.object-stage__label.object-data__label Лифт
					span.object-data__text.object-data__text--big.mb-10 Есть
					a.object-data__link(href="#") Изменить
				.col-12.mb-24
					label.object-stage__label.object-data__label Доступ на объект
					span.object-data__text.object-data__text--big.mb-10 Свободный
					a.object-data__link(href="#") Изменить
				.col-12.mb-24
					label.object-stage__label.object-data__label Дизайн проект
					span.object-data__text.object-data__text--big.mb-10 Есть
					a.object-data__link(href="#") Изменить


