.nav {
  background-color: $white;
  height: 100%;
  overflow: hidden;
  position: fixed;
  pointer-events: none;
  transform: translate(-100%, 0);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) 0s;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  @media screen and (min-width: $tablet-size) {
    background-color: transparent;
    z-index: 5;
    width: 94px;
    transform: translate(0, 0);
    visibility: visible;
    pointer-events: all;
  }
  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
  }
  @media screen and (min-width: $tablet-size) {
    &::after {
      content: '';
      width: 93px;
      position: absolute;
      top: 0;
      left: 0;
      height: 63px;
      background-color: $white;
      z-index: 3;
      opacity: 1;
      transition: all 0s ease 0s;
    }
  }
  &._active {
    overflow: auto;
    pointer-events: all;
    transform: translate(0, 0);
    visibility: visible;
    @media screen and (min-width: $tablet-size) {
      width: 100%;
    }
    &::before {
      @media screen and (min-width: $tablet-size) {
        opacity: 1;
      }
    }
    &::after {
      @media screen and (min-width: $tablet-size) {
        transition: all 0.3s ease 0.7s;
        opacity: 1;
        width: 48%;
      }
    }
    .nav__container {
        transition: all 0.3s ease 0s;
        opacity: 1;
      @media screen and (min-width: $tablet-size) {
        transition: all 0.3s ease 0.4s;
        width: 48%;
      }
    }
    .nav__text {
      @media screen and (min-width: $tablet-size) {
        opacity: 1;
        transition: all 0.15s ease 0.6s;
        visibility: visible;
      }
    }
  }
  &__container {
    align-items: flex-start;
    background-color: $white;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-start;
    min-height: 100%;
    padding: 64px 20px;
    position: relative;
    transition: all ease-out 0.15s 0s;
    opacity: 0;
    width: 100%;
    z-index: 3;
    @media screen and (min-width: $mobil-size) {
      padding: 64px 13px;
    }
    @media screen and (min-width: $tablet-size) {
      border-right: 1px solid $bg-grey-color;
      flex: 0 1 auto;
      height: calc(var(--vh) * 100);
      overflow: auto;
      opacity: 1;
      width: 94px;
    }
  }
  &__user-name {
    align-self: stretch;
    border-bottom: 1px solid $bg-grey-color;
    color: $text-grey-color;
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
    padding: 24px 0;
    @media screen and (min-width: $mobil-size) {
      align-self: center;
      border-bottom: none;
      margin: 0 32px 0 0;
      padding: 0;
    }
  }
  &__list {
    @media screen and (min-width: $mobil-size) {
      border-top: 1px solid $bg-grey-color;
      padding-top: 32px;
      width: 100%;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 30px 0;
    &:last-child {
      margin: 0;
    }
    @media screen and (min-width: $tablet-size) {
      overflow: hidden;
    }
  }
  &__link {
    align-items: center;
    color: $text-black-color;
    display: flex;
    text-decoration: none;
    @media screen and (min-width: $tablet-size) {
      padding-left: 20.5px;
      position: relative;
    }
    @media screen and (min-width: $desktop-size) {
      &:hover {
        color: rgba($text-black-color, 0.7);
        svg {
          fill: $text-orange-color;
        }
      }
    }
  }
  &__icon {
    fill: $text-grey-color;
    margin: 0 20px 0 0;
    transition: all ease-out 0.15s;
    @media screen and (min-width: $tablet-size) {
      flex-shrink: 0;
      margin: 0;
    }
  }
  &__text {
    color: $text-black-color;
    font-size: 16px;
    line-height: 16;
    @media screen and (min-width: $tablet-size) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all ease-out 0s 0s;
      left: 70px;
    }
  }
}
