nav.nav
	.nav__container
		span.nav__user-name(data-da=".header-user__inner, 480, 0") Андрей
		ul.nav__list
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-house', 'nav__icon', '26', '25')
					span.nav__text Объекты
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-location', 'nav__icon', '26', '26')
					span.nav__text Данные объекта
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-clock', 'nav__icon', '26', '26')
					span.nav__text История объекта
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-rubl', 'nav__icon', '26', '26')
					span.nav__text Финансы
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-user', 'nav__icon', '26', '26')
					span.nav__text Личные данные
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-complete', 'nav__icon', '26', '26')
					span.nav__text Ход работ
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-chat', 'nav__icon', '26', '24')
					span.nav__text Чат
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-chat', 'nav__icon', '26', '24')
					span.nav__text Чат
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-chat', 'nav__icon', '26', '24')
					span.nav__text Чат
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-chat', 'nav__icon', '26', '24')
					span.nav__text Чат
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-chat', 'nav__icon', '26', '24')
					span.nav__text Чат
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-chat', 'nav__icon', '26', '24')
					span.nav__text Чат
			li.nav__item
				a.nav__link(href="#")
					+icon('icon-chat', 'nav__icon', '26', '24')
					span.nav__text Чат
