.popup.popup_coordination-works-thanks
	.popup__content.popup__coordination-works-thanks
		.popup__body
			.popup__close.popup__close--map
				+icon('icon-close', 'icon-close', '24', '24')
			picture.popup__picture(data-da=".popup__coordination-works-thanks, 768, 0")
				source(media="(min-width: 768px)", srcset="static/images/content/logo-mobile--white.png")
				img.popup__img(src="static/images/content/logo-mobile--black.png" width="156" height="34" alt="Логотип Мосплитка")
			.row.gx-0
				h2.popup__title.mb-25 Спасибо
				p.popup__text Мы уже приступили к выполнению следующего этапа работ
